---
---

@import "{{ site.theme }}";

/*  #704235 roast coffee  */
/*  #B7845F deer  */
/*  #E5A96E fawn  */
/*  #FFC277 topaz  */
/*  #FFDDA0 navajo white  */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EFEDE7;
}

h1, h2 {
    font-family: 'Oxygen';
    text-align: center;
}

.main-content table {
    display: inline-block;
    width: 32%;
    vertical-align: top;
}

td, th {
    vertical-align: top;
}

th {
    font-family: 'Oxygen';
    font-size: 1.2rem;
}

td {
    width: 33%;
}

iframe {
    margin-top: 2rem;
}

@media screen and (min-width: 64em) {
    h1 {
        font-size: 3em;
    }
    
    .page-header {
        height: 50rem;
        padding: 2rem 6rem;
    }
    
    .project-name {
        font-size: 2.25rem;
    }
    
    .project-tagline {
        font-size: 6rem;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
    h1 {
        font-size: 2em;
    }
    
    .page-header {
        height: 40rem;
        padding: 3rem 4rem;
    }
    
    .project-name {
        font-size: 2.25rem;
    }
    
    .project-tagline {
        font-size: 5rem;
    }
}

@media screen and (max-width: 42em) {
    h1 {
        font-size: 1em;
    }
    
    .main-content table {
        width: 100% !important;
    }
    
    .page-header {
        height: 30rem;
        padding: 2rem 1rem;
    }
    
    .project-name {
        font-size: 2.25rem;
    }
    
    .project-tagline {
        font-size: 2rem;
    }
}
    
.page-header {
    position: relative;
    background-image: url(../../img/pain.png);
    background-size: cover;
    background-color: #E5A96E;
    font-family: 'Great Vibes', cursive;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}


.project-name {
    font-family: 'Oxygen';
    text-align: left;
    opacity: 0.7;
}

.project-tagline {
    font-family: 'Great Vibes', cursive;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 3rem;
    transform: translateY(-60%);
    opacity: 1;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #704235;
}

.site-footer {
    display: none;
}
