---
---

@import "{{ site.theme }}";

/*  #704235 roast coffee  */
/*  #B7845F deer  */
/*  #E5A96E fawn  */
/*  #FFC277 topaz  */
/*  #FFDDA0 navajo white  */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EFEDE7;
}

h1, h2 {
    font-family: 'Great Vibes', cursive;
}

@media screen and (min-width: 64em) {
    .page-header {
        height: 60vh;
        padding: 2rem 6rem;
    }
    
    .project-name {
        font-size: 2.25rem;
    }
    
    .project-tagline {
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
    .page-header {
        height: 50vh;
        padding: 3rem 4rem;
    }
    
    .project-name {
        font-size: 2.25rem;
    }
    
    .project-tagline {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        height: 30vh;
        padding: 2rem 1rem;
    }
    
    .project-name {
        font-size: 2.25rem;
    }
    
    .project-tagline {
        font-size: 3rem;
    }
}
    
.page-header {
    background-image: url(../../img/pain.png);
    background-size: cover;
    background-color: #E5A96E;
    font-family: 'Great Vibes', cursive;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}


.project-name {
    font-family: 'Oxygen';
    text-align: left;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #704235;
}

.site-footer {
    display: none;
}
